<div class="income">
    <div class="container">
        <div class="create-income">
            <button class="btn btn-info">انشاء وارد جديد</button>
        </div>
        <div class="search-income">
            <label for="search"> بحث : </label>
            <input type="search" name="search" class="input form-control" id="search">
        </div>
        <div class="table-income">
            <table class="table table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">الكود</th>
                    <th scope="col">الشركة الموردة</th>
                    <th scope="col">أمين المخزن</th>
                    <th scope="col">المخزن</th>
                    <th scope="col">تعديل</th>
                    <th scope="col">تفاصيل</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>2314</td>
                    <td>شركة الاتحاد للمقاولات</td>
                    <td>بسام البكرى</td>
                    <td>العاشر من رمضان</td>
                    <td><i class="fa fa-edit"></i></td>
                    <td><i class="fa fa-sticky-note"></i></td>
                  </tr>
                  
                </tbody>
              </table>
              
        </div>
    </div>
</div>